.footer {
  bottom: 0;
  color: var(--text-secondary);
  font-size: var(--text-sm);
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.copyright {
  bottom: var(--spacing-md);
  left: var(--spacing-md);
  position: absolute;
  right: var(--spacing-md);
  text-align: center;
  z-index: 1;
}
