@import "../css/variables.css";

.header {
  position: relative;
  text-align: center;
  width: 100%;
}

.fade {
  background: linear-gradient(transparent, var(--background));
  height: calc(2 * var(--spacing-xl));
  position: relative;
  z-index: 1;
}

.inner {
  margin: 0 auto;
  max-width: var(--width-default);
  padding: var(--spacing-md);
  padding-bottom: 0;
  position: relative;
  width: 100%;
  z-index: 1;
}

.column {
  box-sizing: border-box;
}

.column > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.column > ul > li {
  display: none;
}

.column > ul > li:first-child {
  display: block;
}

@media (min-width: 1024px) {
  .inner {
    display: flex;
    padding-top: var(--spacing-xl);
  }

  .column {
    width: 46%;
  }

  .column:first-child, .column:last-child {
    margin-top: calc(-1 * var(--spacing-md));
    width: 26%;
  }

  .column:first-child {
    padding-right: var(--spacing-md);
  }

  .column > ul > li {
    display: block;
  }

  .column:first-child > ul > li {
    margin-right: var(--spacing-sm);
  }

  .column:first-child > ul > li:first-child, .column:first-child > ul > li:last-child {
    margin-left: var(--spacing-md);
    margin-right: 0;
  }

  .column:last-child {
    padding-left: var(--spacing-md);
  }

  .column:last-child > ul > li {
    margin-left: var(--spacing-sm);
  }

  .column:last-child > ul > li:first-child, .column:last-child > ul > li:last-child {
    margin-left: 0;
    margin-right: var(--spacing-md);
  }
}

.heading {
  color: var(--text-highlight);
  display: inline-block;
  line-height: 1.5;
  margin-bottom: 0;
  text-transform: uppercase;
}

.heading > span {
  display: block;
}

.heading > span:first-child {
  --spacing: 1rem;
  letter-spacing: var(--spacing);
  margin-right: calc(-1 * var(--spacing));
}

.heading > span:last-child {
  --spacing: 1.5rem;
  font-size: 150%;
  letter-spacing: var(--spacing);
  margin-right: calc(-1 * var(--spacing));
}

.subheading {
  --spacing: .1rem;
  color: var(--text-primary);
  letter-spacing: var(--spacing);
  margin-right: calc(-1 * var(--spacing));
}

.subheading > span {
  color: var(--text-highlight);
}

@media (min-width: 1024px) {
  .heading {
    font-size: 3.5rem;
    margin-bottom: var(--spacing-sm);
  }

  .subheading {
    font-size: 2.25rem;
  }
}
