@import "../css/variables.css";

.header {
  position: relative;
  text-align: center;
  width: 100%;
}

.fade {
  background: linear-gradient(transparent, var(--background));
  height: calc(2 * var(--spacing-xl));
  position: relative;
  z-index: 1;
}

.grid {
  display: flex;
  margin: 0 auto;
  padding: var(--spacing-xl) var(--spacing-md) 0;
  position: relative;
  width: var(--width-default);
  z-index: 1;
}

.column {
  box-sizing: border-box;
  width: 46%;
}

.column > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.column:first-child, .column:last-child {
  margin-top: calc(-1 * var(--spacing-md));
  width: 26%;
}

.column:first-child {
  padding-right: var(--spacing-md);
}

.column:first-child > ul > li {
  margin-right: var(--spacing-sm);
}

.column:first-child > ul > li:first-child, .column:first-child > ul > li:last-child {
  margin-left: var(--spacing-md);
  margin-right: 0;
}

.column:last-child {
  padding-left: var(--spacing-md);
}

.column:last-child > ul > li {
  margin-left: var(--spacing-sm);
}

.column:last-child > ul > li:first-child, .column:last-child > ul > li:last-child {
  margin-left: 0;
  margin-right: var(--spacing-md);
}

.heading {
  color: var(--text-highlight);
  display: inline-block;
  font-size: 3.5rem;
  line-height: 1.5;
  text-transform: uppercase;
}

.heading > span {
  display: block;
}

.heading > span:first-child {
  --spacing: 1rem;
  letter-spacing: var(--spacing);
  margin-right: calc(-1 * var(--spacing));
}

.heading > span:last-child {
  --spacing: 1.5rem;
  font-size: 150%;
  letter-spacing: var(--spacing);
  margin-right: calc(-1 * var(--spacing));
}

.subheading {
  --spacing: .1rem;
  color: var(--text-primary);
  font-size: 2.25rem;
  letter-spacing: var(--spacing);
  margin-right: calc(-1 * var(--spacing));
}

.subheading > span {
  color: var(--text-highlight);
}
