@import "../css/variables.css";

.main {
  line-height: 1.5;
  margin: 0 auto;
  margin-top: calc(-1 * var(--spacing-xl));
  max-width: var(--width-default);
  padding: 0 var(--spacing-sm) 4rem;
  position: relative;
  width: 100%;
  z-index: 1;
}

.partnersInner {
  text-align: center;
  width: 200px;
}

@media (max-width: 1023px) {
  .section, .partnersInner {
    margin: 0 auto;
    max-width: 560px;
  }
}

@media (min-width: 640px) {
  .main {
    padding-left: var(--spacing-md);
    padding-right: var(--spacing-md);
  }
}

@media (min-width: 1024px) {
  .main {
    padding-left: var(--spacing-lg);
    padding-right: var(--spacing-lg);
  }

  .partnersOuter {
    margin-top: -8rem;
    text-align: right;
  }

  .partnersInner {
    display: inline-block;
  }
}
