@import "../css/variables.css";

.main {
  line-height: 1.5;
  margin: 0 auto;
  max-width: var(--width-default);
  padding: 0 var(--spacing-sm) 4rem;
  position: relative;
  width: 100%;
  z-index: 1;
  background-color: #0A2246;
}

.logos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 450px;
  padding-top: 20px;
}

.logoWD {
  width: 150px;
}

.logo {
  width: 200px;
}

@media (max-width: 560px) {
  .logos {
    flex-direction: column;
    width: auto;
  }

  .logo {
    padding-top: 80px;
  }
}

@media (max-width: 1023px) {
  .section {
    margin: 0 auto;
    width: var(--section-width);
  }
}

@media (min-width: 640px) {
  .main {
    padding-left: var(--spacing-md);
    padding-right: var(--spacing-md);
  }
}

@media (min-width: 1024px) {
  .main {
    padding-left: var(--spacing-lg);
    padding-right: var(--spacing-lg);
  }
}
