@import "../css/variables.css";

.main {
  line-height: 1.5;
  margin: 0 auto;
  margin-top: calc(-1 * var(--spacing-xl));
  max-width: var(--width-default);
  padding: var(--spacing-sm);
  padding-top: 0;
  position: relative;
  width: 100%;
  z-index: 1;
}

@media (min-width: 640px) {
  .main {
    padding: var(--spacing-md);
    padding-top: 0;
  }
}

@media (min-width: 1024px) {
  .main {
    padding: var(--spacing-lg);
    padding-top: 0;
  }
}

.lead {
  margin: 0 auto;
  text-align: center;
  width: var(--width);
}

.lead > p:first-child {
  font-size: var(--text-lg);
  font-weight: var(--font-bold);
}

.lead > p:last-child {
  color: var(--gray-4);
  font-size: var(--text-sm);
}
