:root {
  --breakpoint-desktop: 1024px;
  --breakpoint-tablet: 640px;
  --breakpoint-mobile: 320px;

  --width-default: 1024px;
  --width-text: 500px;

  --section-width: 560px;

  --spacing-xs: .5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 3rem;
  --spacing-xl: 4rem;

  --background: #0a2246;

  --text-primary: #f8c73f;
  --text-secondary: #ced4da;
  --text-hint: #adb5bd;
  --text-highlight: #fcc419;
  --text-link: #74c0fc;

  --text-xs: 75%;
  --text-sm: 87.5%;
  --text-md: 100%;
  --text-lg: 112.5%;
  --text-xl: 125%;

  --font-normal: 400;
  --font-bold: 700;
}
