.info {
  font-size: var(--text-md);
  text-align: left;
  max-width: 500px;
  color: var(--text-secondary);
}

.info > p {
  margin: var(--spacing-xs) 0;
}

.info > p:last-child {
  color: var(--text-secondary);
}

.link {
  color: var(--text-secondary);
}
